*{
    margin: 0;
}

main{
    margin-top: 25em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    background-color: rgb(182, 182, 224);
    height: 200px;
    align-items: center;
    
}

.box{
    height: 100px;
    width: 100px;
    background-color: rgba(168, 109, 32, 0.548);
    box-shadow: 5px 5px 10px 1px #ccc8c8;;
    transition: all 1s ease-in-out;

}

.box:hover{
    border-radius: 50%;
    background-color: rgb(152, 5, 236);
    opacity: 0%;
    scale: (1.1);
    transform: rotateX(0deg) rotateY(360deg) rotateZ(20deg);
}
